<div class="heading">
    <h1>{{title}}</h1>
</div>
<div class="flex-container">
  <div class="container">
    <div>
      <h2>Here is information regarding me!</h2>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, unde dicta.
      Nostrum accusamus obcaecati eius nulla officiis dolorem, similique eveniet
      odio rerum reprehenderit corporis maxime consequuntur labore, suscipit
      sapiente molestias.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, unde dicta.
      Nostrum accusamus obcaecati eius nulla officiis dolorem, similique eveniet
      odio rerum reprehenderit corporis maxime consequuntur labore, suscipit
      sapiente molestias.
      
    </div>
  </div>
</div>
